img
{
    position: absolute;
    padding: 0px;
}

.toolbar
{
    position: fixed;
    height: 100px;
    width: 100%;
    text-align: center;
}

body
{
    font-family: Helvetica, Arial, sans-serif;
}